@{
    ViewData["Title"] = "Home Page";
}   

<h2> Enter a Number</h2>

<form asp-action="results" >
    <div class="input-field">
        <label for="number">Number</label>
        <input type="text" id="number" name="number" />
    </div>


    <button type="submit" class="btn waves-light blue"> Analyze </button>

</form>

